<form class="p-5" action="">
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Bán kính</label>
        <input name="r" type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Tính</button>
</form>
<p class="text-center">{{result}}</p>