<form class="p-5">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Chiều dài</label>
        <input name="a" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Chiều rộng</label>
        <input name="b" type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<p class="text-center">{{result}}</p>